body{
    display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: $main-font; 
    background: url(../img/prism.png);
}

.titre{
    text-align: center ;
    margin-top: 20px;
    color: white;
    margin: 100px 0;
}

form{
    height: 100vh;
    width: 40%;
    background: $form-background-color;
}

input[type=text],
input[type=email],
input[type=tel]{
    height: 20px;
    width: 80%;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
}

input[type=radio]{
    position: absolute;
    left: -9999px;
}

.input-radio{
    margin:10px 0;
}

label {
	display: flex;
    height: 35px;
    width: 110px;
    justify-content: center;
	align-items: center;
    background: $label-background-color;
	border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
    &.radio-child{
        background: none;
    }
}



input[type=radio]:checked + .radio-civ{
    background: $next-btn-background-color;
}

.form-bloc{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.initial{ 
    display: none;
}

.centrer{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.select-situation{
	width: 50%;
    height: 40px;
    border-radius: 7px;
    padding-left: 5px;
    outline: none;
}

.bubble-text{
	display: flex;
	position: relative;
    width: 350px;
	margin-bottom: 40px;
    padding:7px 15px;
    background: $question-background-color; 
    border-radius: 10px;
    color:$bubble-text-color; 
}

.bubble-question{
    // background: #139ee0; <-- Ici ont as pas besoin de définir un background car il va hérité de la couleur de la classe bubble-text
    &:after {
        content: "";
        position: absolute;
        border-top: 20px solid $question-background-color;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
    }
}

.bubble-reponse{
	margin-left: 100px;
    background: $reponse-background-color; // Ici le background est défini, car on veut pas utiliser la couleur de la classe bubble-text
    &:after {
        content: "";
		position: absolute;
        border-top: 40px solid $reponse-background-color;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
		right: 0;
		z-index: -1;
    }
}

#next-button,
.prev-button{
    display: block;
    margin:30px 0;
    padding: 10px 40px;
    background-color: $next-btn-background-color;
    border-radius: 3px;
    box-shadow: none;
    font-weight: bold;
    text-decoration: none;
    color: $bubble-text-color; /* Ouais, j'avais la flemme de crée une nouvelle variable... */
    &:hover{
        background-color: $next-btn-background-color-hover;
    }
}