body{
    font-family: $main-font;  
    display: flex;
	justify-content: center;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    align-items: center;
}

.titre{
    text-align: center ;
    margin-top: 100px;
}

form{
    width: 40%;
    background: #e08212 ;
    margin-top: 100px;
}

input[type=text],
input[type=email],
input[type=tel]{
    width: 80%;
}

input[type=radio]{
    position: absolute;
    left: -9999px;
}

.input-radio{
    margin:10px 0;
}

label {
    background: rgb(228, 223, 223);
    height: 50px;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
}

input[type=radio]:checked + .radio-civ{
    background: rgb(0, 23, 233);
}

.form-bloc{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.initial{ 
    display: none;
}

.centrer{
    justify-content: center;
}
.bubble-text{
    background: $question-background-color; 
    color:$bubble-text-color; 
    padding:7px 15px;
    width: 350px;
    border-radius: 10px;
	margin-bottom: 40px;
	position: relative;
}

.bubble-question{
    // background: #139ee0; <-- Ici ont as pas besoin de définir un background car il va hérité de la couleur de la classe bubble-text
    &:after {
        content: "";
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $question-background-color;
        position: absolute;
    }
}

.bubble-reponse{
    background: $reponse-background-color; // Ici le background est défini, car on veut pas utiliser la couleur de la classe bubble-text
    margin-left: 100px;
    &:after {
        content: "";
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid $reponse-background-color;
		position: absolute;
		right: 0;
		z-index: -1;
    }
}
#next-button {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: rgb(0, 72, 205);
    box-shadow: none;
    text-decoration: none;
    display: block;
    margin:30px 0;
    &:hover{
        background-color: dodgerblue
    }
}
