header nav{
    height: 313px;
    background: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-size: 100% 250px;
}

footer{
    width: 100%;
    & img{
        display: block;
        width: 100%;    
    }
}
