nav ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
nav li {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 40px;
}
nav li a{
    display: block;
    text-decoration: none;
    color: #070707;
}
nav li :hover{
    background-color: #3388BB
}
