@import "fonts"; // test d'import d'un partiel dans un partiel (it's work)

$main-font:sans-serif;

$bubble-text-color:#ffffff;

$question-background-color:#139ee0;
$reponse-background-color: #00c3ff;