@import "fonts"; // test d'import d'un partiel dans un partiel (it's work)

$main-font:sans-serif;

$bubble-text-color:#ffffff;

$question-background-color:#59C6D1;
$reponse-background-color: #9DD3D9;

/* Color Theme Swatches in Hex */
$Coral--Teals-v02-1-hex: #234D51;
$Coral--Teals-v02-2-hex: #9DD3D9;
$Coral--Teals-v02-3-hex: #59C6D1;
$Coral--Teals-v02-4-hex: #3B4F51;
$Coral--Teals-v02-5-hex: #FF513F;